version: "3.8"

services:
  db:
    image: pgvector/pgvector:pg16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-root}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-rootpwd}
      POSTGRES_DB: ${POSTGRES_DB:-openaid}
    volumes:
      - pgdata:/var/lib/postgresql/data

  cache:
    image: "docker.dragonflydb.io/dragonflydb/dragonfly"
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    command: --requirepass ${REDIS_PASSWORD}
    volumes:
      - dragonflydata:/data

volumes:
  pgdata:
  dragonflydata:
